<h1>Listing animals</h1>

<table>
  <thead>
    <tr>
      <th>Legs</th>
      <th>Species</th>
      <th>Type</th>
      <th>Color</th>
      <th>Danger level</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @animals.each do |animal| %>
      <tr>
        <td><%= animal.legs %></td>
        <td><%= animal.species %></td>
        <td><%= animal.type %></td>
        <td><%= animal.color %></td>
        <td><%= animal.danger_level %></td>
        <td><%= link_to 'Show', animal %></td>
        <td><%= link_to 'Edit', edit_animal_path(animal) %></td>
        <td><%= link_to 'Destroy', animal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Animal', new_animal_path %>
