<p id="notice"><%= notice %></p>

<p>
  <strong>Legs:</strong>
  <%= @animal.legs %>
</p>

<p>
  <strong>Species:</strong>
  <%= @animal.species %>
</p>

<p>
  <strong>Type:</strong>
  <%= @animal.type %>
</p>

<p>
  <strong>Color:</strong>
  <%= @animal.color %>
</p>

<p>
  <strong>Danger level:</strong>
  <%= @animal.danger_level %>
</p>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
